@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*10px / 16px = 0.625 = 62.5%
    Porcentagem do font-size do browser do usuário*/
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  color: #333;
}

/*=======================================*/
/*HEADER SECTION*/
/*=======================================*/
.logo {
  font-family: "Inconsolata", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.5px;
  color: #333;
  margin: 2.8rem 9.6rem;
}

/*=======================================*/
/*HERO SECTION*/
/*=======================================*/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 125rem;
  display: flex;
  gap: 9.6rem;
  margin-top: 5.2rem;
}

.hero-img-box {
  width: 50%;
}

.hero-img {
  width: 100%;
}

.hero-text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.hero-title {
  font-size: 5.5rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.hero-description {
  font-size: 2.3rem;
  line-height: 1.2;
  color: #4f4f4f;
  max-width: 37rem;
}

/*=======================================*/
/*BUTTON SECTION*/
/*=======================================*/
.btn:link,
.btn:visited {
  display: inline-block;
  width: 18rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.6rem 0;
  color: white;
  background-color: #333;
  transition: background-color 0.5s;
}

.btn:hover,
.btn:active {
  background-color: white;
  color: #333;
  box-shadow: inset 0 0 0 3px #333;
}
